body{
    /* background-color: rgb(194, 249, 249); */
    margin: 0;
    /* to remove the default css by chrome */
    text-align: center;
}
.name{
    margin: 0px;
}
.hii{
    
    margin: 0px;
}
.top{
    background-color: rgb(184, 250, 228);
    /* width: fit-content; */
    /* the size of div is that of the content */
    /* border-style: solid; */
    /* border-width: 5px; */
    
}
.mountain{
    position: relative;
    margin: 0 auto 0 auto;
}
.cloud2{
    position: absolute;
    left: 370px;
}
.cloud1{
    position: relative;
    /* position: absolute; */
    left: 200px;
    /* bottom: 550px; */
}

h1{
    font-family: cursive;
    /* margin-top: 100px; */
    margin-left: 10px;
    /* to remove the margin on top */
}

 /* .med{
    background-color:red;
    /* border-bottom: 100px; */
    /* height: 100px;
    width: 100px;
    position: relative; */
    /* position: absolute; */
    /* left: 200px;
    bottom: 268px; */
    /* top: 600px; */
    
/* }  */ 
/* .bottom{
    background-color:blue;
    /* border-width: 50px; */
    /* height: 100px;
    width: 100px; */
    /* position: relative; */
    /* position: absolute; */
    /* bottom: 100px; */
    /* top: 600px; */
    /* bottom: 368px;
    left: 100px; */
    
/* }  */
/* .bottom1{
    background-color:yellow;
    /* border-width: 50px; */
    /* height: 100px;
    width: 100px; */
    /* top: 600px; */
    /* position: relative; */
    /* position: absolute;
    bottom: 468px; */
    /* left: 500px; */
   
/* }  */
/* .images{
    display: inline-block;
    border-style: solid;
    border-color: azure;
} */

